*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', sans-serif;
}

body{
    min-height: 100vh;
    background-color: var(--dark-blue);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    /* background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)); */
    background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
    justify-content: space-between;
    padding: 28px 0px;
    transition: all .50s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#menu-icon{
    font-size: 35px;
    color: white;
    margin-left: 18px;
}

.navbar{
    position: fixed;
    top: 11%;
    left: -100%;
    width: 300px;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all .50s ease;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.navbar a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    font-size: 15px;
    color: white;
    transition: all .50s ease;
    text-decoration: none;
}
.navbar a:hover{
    color: rgb(224, 175, 68);
    transform: translateY(5px);
}
.navbar a.active{
    color: var(--white);
}
.navbar.open{
    left: 1%;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    15%{
        transform: scale(1);
    }
    85%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.3);
    }
}

.overlay{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.logo{
    flex-basis: 15%;
}

.logo img{
    width: 50px;
    cursor: pointer;
    margin-left: 20px;
}

.menu-icons{
    flex: 1;
    align-items: center;
    text-align: left;
}

.menu-icons img{
    width: 40px;
    margin-left: -120px;
    cursor: pointer;
}

.text-header{
    flex: 1;
    align-items: center;
    text-align: left;
    color: white;
}

.text-header h3{
    margin-left: -150px;
    cursor: pointer;
    font-size: 15px;
}

.content{
    padding-top: 200px;
    width: 60%;
    margin: 160px auto 0;
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 60px;
}

.content h3{
    width: 80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px;
}

button{
    position: relative;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #fe7250;
    background: #fe7250;
    color: #fff;
    cursor: pointer;
    transition: background 0.5s;
}

button:hover{
    position: relative;
    background: transparent;
    border: 2px solid #fff;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

.input-group:not(:last-child) {
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-search form{
    position: relative;
    padding-top: 50px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.card-search p{
    position: relative;
    color: white;
}

.search-box{
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    position: relative;
    width: 240px;
    padding: 0 6px;
}

.search-btn{
    position: relative;
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-txt{
    position: relative;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.game_content{
    position: relative;
    padding-top: 200px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.game_content h3{
    position: relative;
    color: white;
}

/* Float four columns side by side */
.column {
    position: relative;
    float: left;
    width: 10%;
    padding: 0 20px 10px;
}

.column p{
    position: relative;
    font-size: 15px;
}
  
/* Remove extra left and right margins, due to padding */
.row {
    position: relative;
    margin: 0 -11px;
}

.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.card img{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.button_content{
    position: relative;
    margin-top: 150px;
    margin-left: 436px;
    width: 200px;
}

.voucher_content{
    position: relative;
    padding-top: 100px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.voucher_content h3{
    position: relative;
    color: white;
}

.phone_content{
    position: relative;
    padding-top: 100px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.phone_content h3{
    position: relative;
    color: white;
}

.emoney_content{
    position: relative;
    padding-top: 100px;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.emoney_content h3{
    position: relative;
    color: white;
}

.about_content{
    position: relative;
    width: 1850px;
    height:370px;
    margin-left: 30px;
    background:var(--light-blue);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.about_content img{
    position: relative;
    width: 100px;
    padding-top: 50px;
}

.about_content h3{
    position: relative;
    font-size: 20px;
    padding-top: 60px;
    color: white;
}

.about_content p{
    position: relative;
    font-size: 15px;
    padding-top: 20px;
    padding: 0 300px;
    color: white;
}

footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
    color: #fff;
    padding: 100px 0 30px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row_footer{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col_footer{
    flex-basis: 25%;
    padding: -3px;
}

.col_footer:nth-child(2), .col_footer:nth-child(3){
    flex-basis: 15%;
}

.logo_footer{
    width: 80px;
    margin-bottom: 30px;
}

.col_footer h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.social-icons .bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: var(--dark-blue);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

.box div{
    position: absolute;
    margin-top: 1310px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.order_container{
    margin: 0 200px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.img_product{
    margin-left: -15px;
    width: 200px; 
    height: 90px; 
}

.img_logo{
    padding-top: -10px;
    height: 300px;
    border-radius: 10px;
}

.card1 {
    position: relative;
    /* background-color: #5772bd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 2px;
    width: 500px;
    height: 500px;
}

.card1 p{
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.5;
    /* Atau gunakan padding, margin, dan ukuran font yang sesuai */
    word-break: break-word;
}

.card_title{
    color: white;
    margin-top: 40px;
}

.card_title2{
    color: white;
    /* margin-top: 40px; */
}

.card2 {
    position: relative;
    background-color: #5772bd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 700px;
}

.card2 input{
    margin-top: -20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 13px;
}

.card2 select{
    border-radius: 10px;
    width: 300px;
    height: 35px;
}

.card2 p{
    font-size: 10px;
    margin-left: 30px;
}

.card3 {
    position: relative;
    /* background-color: #5772bd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    margin: 2px;
    width: 500px;
    height: 500px;
}

.card4 {
    margin-top: -200px;
    margin-left: -40px;
    position: relative;
    background-color: #5772bd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* margin: 20px; */
    width: 700px;
}

.card4 input{
    margin-top: -20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 13px;
}

.card4 select{
    border-radius: 10px;
    width: 300px;
    height: 35px;
}

.card4 p{
    font-size: 10px;
    margin-left: 30px;
}

.card-container button{
    margin-top: -150px;
    width: 750px;
    height: 50px;
}

.row_price{
    margin: 0 0px;
}

.col_price {
    float: left;
    width: 30%;
    padding: 0 6px;
}

.card_price{
    background-color: var(--dark-blue);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin: 20px;
    width: 160px;
}

@media (max-width: 1887px){
    .navbar{
        position: fixed;
        top: 9.5%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 17px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .button_content{
        position: relative;
        margin-top: 150px;
        margin-left: 310px;
        width: 200px;
    }
    .about_content{
        position: relative;
        width: 1828px;
        height:370px;
        margin-left: 30px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
}

@media (max-width: 1860px){

    .about_content{
        width: 1850px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 101.1%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1887px){
    .banner{
        width: 101%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 1820px){

    .navbar{
        position: fixed;
        top: 12.9%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 17px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }

    .banner{
        width: 102.5%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .button_content{
        position: relative;
        margin-top: 150px;
        margin-left: 330px;
        width: 200px;
    }
}

@media (max-width: 1800px){
    .navbar{
        position: fixed;
        top: 12.8%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 103.5%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1832px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 103.5%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1770px){
    .navbar{
        position: fixed;
        top: 12.7%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 104.3%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1815px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 104.3%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1750px){
    .navbar{
        position: fixed;
        top: 12.6%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 104.5%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1800px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 104.5%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1730px){

    .container{
        max-width: 1068px;
        margin-left: 350px;
        margin-right: auto;
    }

    .navbar{
        position: fixed;
        top: 12.6%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 104.9%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1788px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 104.9%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1710px){

    .container{
        max-width: 1068px;
        margin-left: 350px;
        margin-right: auto;
    }

    .navbar{
        position: fixed;
        top: 12.4%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 105.4%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1773px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 105.3%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1690px){

    .container{
        max-width: 1068px;
        margin-left: 350px;
        margin-right: auto;
    }

    .navbar{
        position: fixed;
        top: 12.4%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 105.8%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1758px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 105.8%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1624px){
    .banner{
        width: 114%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .slider{
        width: 100%;
        height: 120vh;
        position: absolute;
        top: 0;
    }
    
    #slideImg{
        width: 100%;
        height: 120%;
        animation: zoom 3s linear infinite;
    }

    .overlay{
        width: 100%;
        height: 120vh;
        background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
        position: absolute;
        top: 0;
    }

    .container{
        max-width: 1168px;
        margin-left: 350px;
        margin-right: auto;
    }

    .about_content{
        width: 1828px;
        height:370px;
        margin-left: 10px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 114%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1600px){

    .navbar{
        position: fixed;
        top: 12%;
        left: -100%;
        width: 300px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 18px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .about_content{
        width: 1792px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 114%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1566px){

    .about_content{
        width: 1754px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 114%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1466px){

    .container{
        max-width: 1068px;
        margin-left: 330px;
        margin-right: auto;
    }

    .navbar{
        position: fixed;
        top: 10.9%;
        left: -100%;
        width: 300px;
        height: 120vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 120.7%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1738px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 120.6%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1462px){

    .navbar{
        position: fixed;
        top: 11%;
        left: -100%;
        width: 300px;
        height: 120vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 18px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .banner{
        width: 121%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1738px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 121%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1380px){
    .banner{
        width: 127%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1725px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 127%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1286px){

    .container{
        max-width: 1068px;
        margin-left: 360px;
        margin-right: auto;
    }

    .navbar{
        position: fixed;
        top: 9.6%;
        left: -100%;
        width: 300px;
        height: 120vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .banner{
        width: 135.4%;
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .button_content{
        position: relative;
        margin-top: 150px;
        margin-left: 280px;
        width: 200px;
    }

    .about_content{
        width: 1708px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 135.1%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1280px){

    .navbar{
        position: fixed;
        top: 12%;
        left: -100%;
        width: 300px;
        height: 120vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 18px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }
    
    .container{
        max-width: 1170px;
        margin-left: 400px;
        margin-right: auto;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 100px;
        width: 200px;
    }

    .banner{
        width: 136%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1710px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 136%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1230px){
    
    .navbar{
        position: fixed;
        top: 12%;
        left: -100%;
        width: 300px;
        height: 140vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 18px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 400px;
        margin-right: auto;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 90px;
        width: 200px;
    }

    .banner{
        width: 140%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1693px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 140%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1090px){
    .container{
        max-width: 1170px;
        margin-left: 400px;
        margin-right: auto;
    }

    .banner{
        width: 156%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 20px 10px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -11px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 200px;
        width: 200px;
    }
    
    .card img{
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }

    .game_content{
        width: 1000px;
        padding-top: 200px;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 200px;
    }

    .voucher_content{
        width: 1000px;
        padding-top: 100px;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .phone_content{
        width: 1000px;
        padding-top: 100px;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .emoney_content{
        width: 1000px;
        padding-top: 100px;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .about_content{
        width: 1672px;
        height:370px;
        margin-left: 15px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    footer{
        width: 156%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 1042px){

    .navbar{
        position: fixed;
        top: 8.5%;
        left: -100%;
        width: 300px;
        height: 160vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 18px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .banner{
        width: 162%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1660px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 360px;
        width: 200px;
    }

    footer{
        width: 162%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 935px){

    .navbar{
        position: fixed;
        top: 7.6%;
        left: -100%;
        width: 400px;
        height: 200vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 22px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .banner{
        width: 179%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1648px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 360px;
        width: 200px;
    }

    footer{
        width: 178.9%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 835px){

    .navbar{
        position: fixed;
        top: 6.8%;
        left: -100%;
        width: 500px;
        height: 200vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 25px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .banner{
        width: 198%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1628px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 360px;
        width: 200px;
    }

    footer{
        width: 198%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 725px){

    .navbar{
        position: fixed;
        top: 5.9%;
        left: -100%;
        width: 500px;
        height: 250vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 25px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .banner{
        width: 226%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1613px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 360px;
        width: 200px;
    }

    footer{
        width: 226%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 650px){

    .navbar{
        position: fixed;
        top: 5.6%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 350px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 249.5%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1582px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 320px;
        width: 300px;
    }

    footer{
        width: 249.5%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 620px){
    
    .container{
        max-width: 1170px;
        margin-left: 320px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 257%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1570px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 320px;
        width: 300px;
    }

    footer{
        width: 257.3%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 564px){

    .navbar{
        position: fixed;
        top: 4.7%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 260px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 280%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1555px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 280%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 550px){

    .navbar{
        position: fixed;
        top: 4.7%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 260px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 285%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1543px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 285%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 515px){

    .navbar{
        position: fixed;
        top: 4.6%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 260px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 285%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1444px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 285%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 502px){

    .navbar{
        position: fixed;
        top: 4.6%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 220px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 289.5%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1425px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 289%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 470px){

    .navbar{
        position: fixed;
        top: 4.4%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .container{
        max-width: 1170px;
        margin-left: 190px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 310%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1433px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 309.9%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}

@media (max-width: 410px){

    .navbar{
        position: fixed;
        top: 3.7%;
        left: -100%;
        width: 600px;
        height: 300vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--light-blue));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 30px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }

    .text-header{
        flex: 1;
        align-items: center;
        text-align: left;
        color: white;
    }
    
    .text-header h3{
        margin-left: -110px;
        cursor: pointer;
        font-size: 15px;
    }

    .container{
        max-width: 1170px;
        margin-left: 80px;
        margin-right: auto;
    }
    
    button{
        width: 300px;
        height: 70px;
        font-size: 20px;
    }
    
    .banner{
        width: 302%;
        height: 120vh;
        position: relative;
        overflow: hidden;
    }

    .about_content{
        width: 1213px;
        height:370px;
        margin-left: 13px;
        background:var(--light-blue);
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    .button_content{
        margin-top: 150px;
        margin-left: 390px;
        width: 300px;
    }

    .column {
        float: left;
        width: 20%;
        padding: 0 73px 30px;
    }
    
    .column p{
        font-size: 15px;
    }
      
    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -75px;
    }

    .card {
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 0px;
        text-align: center;
        background-color: #f1f1f1;
        border-radius: 10px;
        height: 350px;
        width: 350px;
    }
    
    .card img{
        height: 350px;
        width: 350px;
        border-radius: 10px;
    }

    footer{
        width: 302%;
        /* position: absolute; */
        bottom: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.7), var(--light-blue));
        color: #fff;
        padding: 100px 0 30px;
        border-top-right-radius: 125px;
        font-size: 13px;
        line-height: 20px;
    }
}